manifest/cache/
manifest/logs/
manifest/tmp/
symphony/
workspace/uploads/
install-log.txt
.DS_Store
*.log
idea/*
.idea/workspace.xml
app/core/exidoengine/frontend/controller/tests.php
app/data/ss.jpeg
app/data/ss.jpg
app/data/ss111.jpeg
